.moviecard {
    width: auto;
    display: flex;
    height: auto;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 100px;
}

.movie {
    width: auto;
    display: flex;
    //justify-content: center;
    align-items: last baseline;
    background-color: rgb(156, 156, 156);
    height: auto;
    margin: auto;
    margin-top: 20px;
}

.movie_info {
    margin-right: 20%;
    display: flex;
    flex-direction: column;
}

.movie_img {
    margin-left: 10%;
    margin-top: 2%;
}

.rating {
    text-align: right;
    margin-left: auto;
    margin-right: 10px;
    font-size: 1.2em;
    font-weight: bold;
}


h2 {
    text-align: left;
    margin-left: 10px;
}

h3 {
    text-align: left;
    margin-left: 10px;
}

h4 {
    text-align: left;
    margin-left: 30px;
    margin-bottom: -20px;
}

p {
    text-align: left;
    margin-left: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-right: 50px;
    align-items: baseline;
    width: 80%;
}

.moviecard ul {
    list-style: none;
    margin-left: 30px;
    padding: 0;
}

.moviecard ul li {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}


button {
    height: 50px;
    width: auto;
    margin-right: auto;
    background-color: rgb(156, 156, 156);
}



/* CSS */
.buttonticket {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.buttonticket:before {
    content: "";
    background: linear-gradient(45deg,
            #ffffff,
            #7a00ff,
            #ffffff,
            #7a00ff,
            #ffffff,
            #7a00ff,
            #ffffff);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-buttonticket 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-buttonticket {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.buttonticket:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}