.moviecard {
    width: auto;
    display: flex;
    height: auto;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 100px;
}

.movie {
    width: auto;
    display: flex;
    //justify-content: center;
    align-items: last baseline;
    background-color: rgb(156, 156, 156);
    height: auto;
    margin: auto;
    margin-top: 20px;
}

.movie_img {
    margin-left: 10%;
    margin-top: 2%;
}


h2 {
    text-align: left;
    margin-left: 10px;
}

h3 {
    text-align: left;
    margin-left: 10px;
}

h4 {
    text-align: left;
    margin-left: 30px;
    margin-bottom: -20px;
}

p {
    text-align: left;
    margin-left: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-right: 50px;
    align-items: baseline;
    width: 80%;
}

.moviecard ul {
    list-style: none;
    margin-left: 30px;
    padding: 0;
}

.moviecard ul li {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}


button {
    height: 50px;
    width: auto;
    margin-right: auto;
    background-color: rgb(156, 156, 156);
}