.moviecard {
    width: 80%;
    display: flex;
    height: auto;
    margin: auto;
    margin-top: 20px;
}
.movie {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    background-color: rgb(156, 156, 156);
    height: auto;
    margin: auto;
    margin-top: 20px;
}


h2 {
    text-align: left;
    margin-left: 10px;
}
h3 {
    text-align: left;
    margin-left: 10px;
}
h4 {
    text-align: left;
    margin-left: 30px;
    margin-bottom: -20px;
}

p {
    text-align: left;
    margin-left: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-right: 50px;
    align-items: baseline;
    width: 60%;
}
button{
    height: 50px;
    width: auto;
    margin-right: auto;
    background-color: rgb(156, 156, 156);
}

.img {
    margin-left: 0px;
    margin-right: 2%;
    width: 20%;
}

.description {
    background-color: white;
    width: 60%;
    margin-right: 2%;
}

.time {
    margin-left: 3px;
    background-color: rgb(118, 30, 30);
    width: 20%;
}