h1 {
    color: white;
    margin-left: 20px;
}
p {
    color: black;
    margin-left: 30px;
    
}
.addAMovie {
    width: auto;
    display: flex;
    justify-content: left;
    align-items: last baseline;
    background-color: rgb(156, 156, 156);
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-left: 20px;
}
.manageShowtimes{
    width: auto;
    display: flex;
    justify-content: left;
    align-items: last baseline;
    background-color: rgb(156, 156, 156);
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-left: 20px;
}