<h1>{{ title }}</h1>
<div class="manageShowtimes">

<div class="showtimesOverview">
<h2>Weekly Movie Showtimes</h2>

<table>
  <thead>
    <tr>
        <th (click)="sort('movie_title')">Movie</th>
        <th (click)="sort('theater_name')">Theater</th>
        <th (click)="sort('date')">Date</th>
        <th (click)="sort('start_time')">Start Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let showtime of showtimes">
      <td>{{ showtime.movie_title }}</td>
      <td>{{ showtime.theater_name }}</td>
      <td>{{ showtime.date | date: 'yyyy-MM-dd'}}</td>
      <td>{{ showtime.start_time}}</td>

    </tr>
  </tbody>
</table>

<h2>Manage Schedule</h2>
<div class="addShowtime">
  
<form [formGroup]="showtimeForm">
  <div class="form-group">
    <label for="movieSelect">Select a movie: </label>
    <select formControlName="movieSelect" id="movieSelect">
      <option *ngFor="let movie of movies" [value]="movie.id">{{ movie.title }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="theaterSelect">Select a theater: </label>
    <select formControlName="theaterSelect" id="theaterSelect">
      <option *ngFor="let theater of theaters" [value]="theater.id">{{ theater.name }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="dateInput">Select a date: </label>
    <input type="date" formControlName="dateInput" id="dateInput" [min]="getCurrentDate()" required value="{{ getCurrentDate() }}">
  </div>
  
  <div class="form-group">
    <label for="timeInput">Select a time (after 3pm, in half-hour steps): </label>
    <input type="time" formControlName="timeInput" id="timeInput" [min]="getMinimumTime()" [step]="1800" pattern="([01][0-9]|2[0-3]):(00|30)" required>
  </div>

  <button type="button" (click)="checkAvailability()">Check Availability</button>

  <div *ngIf="showtimeAvailable === null">
       
        <button type="submit" [disabled]="true">Submit</button>
      </div>
      <div *ngIf="showtimeAvailable === true">
        <p>This showtime is available.</p>
        <button type="submit" (click)="onSubmit()">Submit</button>
      </div>
      <div *ngIf="showtimeAvailable === false">
        <p>This showtime is not available.</p>
        <button type="submit" [disabled]="true">Submit</button>
      </div>

</form>
</div>
</div>
</div>