<h1>{{ title }}</h1>
<div class="manageShowtimes">

<div class="showtimesOverview">
<h2>Weekly Movie Showtimes</h2>

<table>
  <thead>
    <tr>
        <th (click)="sort('movie_title')">Movie</th>
        <th (click)="sort('theater_name')">Theater</th>
        <th (click)="sort('date')">Date</th>
        <th (click)="sort('start_time')">Start Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let showtime of showtimes">
      <td>{{ showtime.movie_title }}</td>
      <td>{{ showtime.theater_name }}</td>
      <td>{{ showtime.date | date: 'yyyy-MM-dd'}}</td>
      <td>{{ showtime.start_time}}</td>

    </tr>
  </tbody>
</table>

<h2>Manage Schedule</h2>
<div class="addShowtime">
  
<form>
  <div class="form-group">
  <label for="movieSelect">Select a movie: </label>
  <select name="movieSelect" id="movieSelect">
    <option *ngFor="let movie of movies" value="{{ movie.id }}">{{ movie.title }}</option>
  </select>
</div>

<div class="form-group">
  <label for="theaterSelect">Select a theater: </label>
  <select name="theaterSelect" id="theaterSelect">
    <option *ngFor="let theater of theaters" value="{{ theater.id }}">{{ theater.name }}</option>
  </select>
</div>

<div class="form-group">
  <label for="dateInput">Select a date: </label>
  <input type="date" name="dateInput" id="dateInput" required>
</div>

<div class="form-group">
  <label for="timeInput">Select a time: </label>
  <input type="time" name="timeInput" id="timeInput" required>
</div>


  <button type="submit">Check Availability</button>
  <button type="submit">Submit</button>
</form>
</div>
</div>
</div>