.tickets {
    width: 80%;
    background-color: rgb(55, 55, 55);
    margin: auto;
    display: flex;
    margin-top: 20px;
}

.ticket {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    background-color: rgb(156, 156, 156);
    height: auto;
    margin: auto;
    margin-top: 20px;
}

.image {
    width: 10%;
}

img {
    margin-right: 10px;
}

.ticketinfo {
    width: 80%;
}

p {
    text-align: left;
    margin-left: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-right: 50px;
    align-items: baseline;
    width: 80%;
}