.ticket {
    width: 80%;
    background-color: rgb(55, 55, 55);
    margin: auto;
    display: flex;
    margin-top: 20px;
}

.image {
    width: 10%;
}

img {
    margin-right: 10px;
}

.ticketinfo {
    width: 80%;
}