<h1>{{ title }}</h1>

    <div class="userData">
    <h3>Change User Data</h3>
    <div class="editUserData">
        <form [formGroup]="registerForm">
            <div class="personalInformation">
                <p>Personal information</p>
                <input type="text" id="firstName" placeholder="First Name" formControlName="firstName" required>
                <input type="text" id="lastName" placeholder="Last Name" formControlName="lastName" required>
            </div>
            <div class="contactInformation">
                <p>Contact information</p>
                <input type="text" id="email" placeholder="Email address" formControlName="email" required>
                <span *ngIf="email && email.invalid && email.touched" style="color: red">Please enter a valid email address</span>
                <input type="text" id="phone" placeholder="Phone Number" formControlName="phone" required>
                <br>
                <input type="text" id="address" placeholder="Street address" formControlName="address" required>
                <br>
                <input type="text" id="zipCode" placeholder="Zip Code" formControlName="zipCode" required>
                <input type="text" id="city" placeholder="City" formControlName="city" required>
                <br>
                <input type="text" id="country" placeholder="Country" formControlName="country" required>
            </div>
            <div class="password">
                <p>Password</p>
                <input type="password" id="password" placeholder="Enter password" formControlName="password" required>
                <span *ngIf="password && password.invalid && password.touched" style="color: red">Password not valid.</span>
            </div>
            <div *ngIf="errorMessage" id="error-message" class="error-message">{{ errorMessage }}</div>
        <button type="button" class="signUp" [disabled]="registerForm.invalid">Edit</button>
        <button type="button" class="signUp" [disabled]="registerForm.invalid">Save</button>

        
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        </form>

        <br>
        <div class="ticketHistory">
            <h3>Tickets</h3>
        </div>
</div>

