p {
    color: white;
}
h1 {
    color: white;
    padding-left: 30px;
}
.userData{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    background-color: rgb(156, 156, 156);
    height: auto;
    margin: auto;
    margin-top: 20px;
}