<h1>{{ title }}</h1>

    <div class="userData">
   
    
    <div *ngIf="userData">
      <h3>User Data</h3>
        <p>First Name: {{ userData.first_name }}</p>
        <p>Last Name: {{ userData.last_name }}</p>
        <p>Email: {{ userData.email }}</p>
        <p>Phone: {{ userData.phone }}</p>
        <p>Address: {{ userData.address }}</p>
        <p>City: {{ userData.city }}</p>
        <p>Zip Code: {{ userData.zipcode }}</p>
        <p>Country: {{ userData.country }}</p>
        <button (click)="editUserData()">Edit Data</button>
        <button id="delete-account" (click)="deleteAccount()">Delete account</button>
        <br>
        <h3>Tickets</h3>


        <button (click)="logout()">Logout</button>
      </div>

     
      
      
    </div>

<button (click)="editUserData()">Edit Data</button>





