<h1>Add a movie</h1>

<div class="card">
    <div class="card-header"></div>
    <div class="card-body">
        <form>
            <div class="row mb-2">
                <div class="col">
                    <!--Title-->
                    <label class="form-label">Title</label><br>
                    <input class="form-control"/>
                </div>
            </div>
        
            <div class="row mb-2">
                <div class="col">
                    <!--release date--> 
                    <label class="form-label">Release Date</label><br>
                    <input class="form-control"/>
                </div>
                <div class="col">
                    <!--duration--> 
                    <label class="form-label">Duration</label><br>
                    <input class="form-control"/>
                </div>
                <div class="col-4">
                    <!--age restriction-->
                    <label class="form-label">Age restriction</label><br>
                    <input class="form-control"/>
                </div>
            </div>
        
            <div class="row mb-2">
                <div class="col">
                    <!--Genre-->
                    <label class="form-label">Genre</label><br>
                    <input class="form-control"/>
                </div>
            </div>
        
            <div class="row">
                <div class="col"> 
                   <!--Description-->
                   <label class="form-label">Description</label><br>
                   <input class="form-control"/>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button>Submit</button>
    </div>
</div>
