<h1>Add a movie</h1>

<form>

    <div class="row">
        <div class="col">
            <!--Title-->
            <input class="form-control"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <!--release date--> 
            <input class="form-control"/>
        </div>
        <div class="col">
            <!--duration--> 
            <input class="form-control"/>
        </div>
        <div class="col">
            <!--age restriction-->
            <input class="form-control"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <!--Genre-->
            <input class="form-control"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
           <!--Description-->
           <input class="form-control"/>
        </div>
    </div>