<div class="body_select">
    <div class="movie-container">
        <label>Pick a movie: </label>

        <select id="movie" [(ngModel)]="selectedMovie" (change)="onMovieChange()">
            <option value="{{movie.id}}" *ngFor="let movie of movies">{{ movie.title }}</option>
        </select>


        <select id="date" [(ngModel)]="selectedDate">
            <ng-container *ngFor="let showtime of showtimes">
                <option value="{{showtime.date}}" *ngIf="selectedMovie == showtime.movie_id">{{
                    showtime.date }}
                </option>
            </ng-container>
        </select>

        <select id="time" [(ngModel)]="selectedShow" (change)="onSelectionChange()">
            <ng-container *ngFor="let showtime of showtimes">
                <option value="{{showtime.id}}"
                    *ngIf="selectedMovie == showtime.movie_id && selectedDate == showtime.date">{{
                    showtime.start_time }}
                </option>
            </ng-container>
        </select>


        <ul class="showcase">
            <li>
                <div class="free"></div>
                <small>N/A</small>
            </li>
            <li>
                <div class="selected"></div>
                <small>Selected</small>
            </li>
            <li>
                <div class="occupied"></div>
                <small>Occupied</small>
            </li>
        </ul>

        <div class="container">
            <div class="screen"></div>


            <div class="row" *ngFor="let m of numSequence(4); let rowIndex=index">
                <ng-container *ngFor="let n of numSequence(8); let seatIndex=index">
                    <div class="seat" [id]="rowIndex * 8 + seatIndex + 1"></div>
                </ng-container>
            </div>
        </div>



        <p class="text">
            You have selected <span id="count">0</span> seats for the total price of Rs. <span id="total">0</span>
        </p>
    </div>
</div>