<header>
    <div class="logo">
        <a routerLink="/"><img class="logo" src="assets/pictures/logo.png"></a>
    </div>

    <div class="navbar">
        <div class="navitem">
            <a routerLink="/movies">
                <p>Movies</p>
            </a>
        </div>
        <div class="navitem">
            <a routerLink="/login">
                <p> Login </p>
            </a>
        </div>
        <div class="navitem">
            <a routerLink="/register">
                <p> Register </p>
            </a>
        </div>
        <div class="navitem">
            <a routerLink="/mytickets">
                <p> My Tickets </p>
            </a>
        </div>

    </div>

</header>