footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.1);
    background-color: black;
    color: white;
    height: 100px;

}

.contact {
    margin-left: 40px;
}

img {
    margin-left: 20px;
}

.logo {
    height: 48px;
    margin-top: 14px;
    justify-content: center;
    align-items: center;
}