<h1>{{ title }}</h1>

<div class="register">
<form [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <div class="personalInformation">
        <p>Personal information</p>
        <input type="text" id="firstName" placeholder="First Name" formControlName="fName" required>
        <input type="text" id="lastName" placeholder="Last Name" formControlName="lName" required>
    </div>
    <div class="contactInformation">
        <p>Contact information</p>
        <input type="text" id="email" placeholder="Email address" formControlName="email" required>
        <span *ngIf="email && email.invalid && email.touched" style="color: red">Please enter a valid email address</span>
        <input type="text" id="phone" placeholder="Phone Number" formControlName="phone" required>
        <br>
        <input type="text" id="address" placeholder="Street address" formControlName="address" required>
        <br>
        <input type="text" id="zipCode" placeholder="Zip Code" formControlName="zipCode" required>
        <input type="text" id="city" placeholder="City" formControlName="city" required>
    </div>
    <div class="password">
        <p>Choose a strong password</p>
        <input type="password" id="password" placeholder="Enter password" formControlName="password" required>
        <span *ngIf="password && password.invalid && password.touched" style="color: red">Password not valid.</span>
    </div>

<button class="signUp" [disabled]="registerForm.invalid" >Sign Up</button>

<button class="LogIn" routerLink="/login">Already have an account? Log in</button>
</form>
<p *ngIf="registerForm.invalid && registerForm.touched">Please fill out all fields correctly.</p>
</div>